
.vs/jhuras_mmaxner_SOA_a2/v15/Server/sqlite3/db.lock
.vs/jhuras_mmaxner_SOA_a2/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.cache
.vs/jhuras_mmaxner_SOA_a2/DesignTimeBuild/.dtbcache
jhuras_mmaxner_SOA_a2/bin/Debug/jhuras_mmaxner_SOA_a2.exe
jhuras_mmaxner_SOA_a2/bin/Debug/jhuras_mmaxner_SOA_a2.exe.config
jhuras_mmaxner_SOA_a2/bin/Debug/jhuras_mmaxner_SOA_a2.pdb
jhuras_mmaxner_SOA_a2/bin/Debug/SOA - Assignment 2 - Web Services.exe
jhuras_mmaxner_SOA_a2/bin/Debug/SOA - Assignment 2 - Web Services.exe.config
jhuras_mmaxner_SOA_a2/bin/Debug/SOA - Assignment 2 - Web Services.pdb
jhuras_mmaxner_SOA_a2/obj/Debug/jhuras_mmaxner_SOA_a2.csproj.FileListAbsolute.txt
jhuras_mmaxner_SOA_a2/obj/Debug/jhuras_mmaxner_SOA_a2.exe
jhuras_mmaxner_SOA_a2/obj/Debug/jhuras_mmaxner_SOA_a2.pdb
jhuras_mmaxner_SOA_a2/obj/Debug/jhuras_mmaxner_SOA_a2.Properties.Resources.resources
jhuras_mmaxner_SOA_a2/obj/Debug/SOA - Assignment 2 - Web Services.csproj.FileListAbsolute.txt
jhuras_mmaxner_SOA_a2/obj/Debug/SOA - Assignment 2 - Web Services.exe
jhuras_mmaxner_SOA_a2/obj/Debug/SOA - Assignment 2 - Web Services.pdb
jhuras_mmaxner_SOA_a2/obj/Debug/SOA___Assignment_2___Web_Services.Form1.resources
jhuras_mmaxner_SOA_a2/obj/Debug/SOA___Assignment_2___Web_Services.Properties.Resources.resources
jhuras_mmaxner_SOA_a2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
jhuras_mmaxner_SOA_a2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
jhuras_mmaxner_SOA_a2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
